* {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
}

h1 {
  background-color: rgb(62, 28, 212);
  color: floralwhite;
  padding: 20px;
  margin: 0;
}

h1,
p {
  text-align: center;
}

h2 {
  border-left: 5px solid rgb(62, 28, 212);
  margin-left: 10px;
  padding-left: 10px;
}

img {
  height: 225px;
  padding: 10px;
  border-radius: 25px;
}
